# eval()

In [1]:
a=input("enter a number:")
print(type(a))

enter a number:22
<class 'str'>

In [2]:
print(type(eval(a)))

<class 'int'>

In [51]:
b=input("enter a number:")

enter a number:2

In [52]:
b+2

TypeError: can only concatenate str (not "int") to str

In [53]:
c=eval(input("enter"))

enter2

In [54]:
type(c)

int

In [57]:
d=input("enter")

enter2

In [58]:
d=eval(d)

In [59]:
print(type(d))

<class 'int'>

# built in function in python for strings

In [60]:

s='heLlo sTring1,string2'

# functions for the case of strings

In [61]:
# it convert all string in lower case 
s.lower()

'hello string1,string2'

In [62]:
# it convert all string in upper case 
s.upper()

'HELLO STRING1,STRING2'

In [63]:
# it convert the first character into upper case and remaining into lower case
s.capitalize()

'Hello string1,string2'

In [64]:
# it covert first charecter in upper case in each seprated word in a string
s.title()

'Hello String1,String2'

# methods which deals with white space in  a string

In [65]:
# it strip the blank spaces in string from left and right both but did not effect in middle spaces 
st="     hello   world!!    "
st.strip()

'hello   world!!'

In [66]:
st.rstrip()

'     hello   world!!'

In [67]:
st.lstrip()

'hello   world!!    '

# to transform the string

In [68]:
st1 ="hello str1,str2  @str3"
st1.split()

['hello', 'str1,str2', '@str3']

In [69]:
st1.split(',')

['hello str1', 'str2  @str3']

In [70]:
st1.replace('Hello','hi')

'hello str1,str2  @str3'

# for count charcter in string

In [71]:
st1.count('hello')

1

In [72]:
st1.rfind('l')

3

In [73]:
http://localhost:8888/notebooks/Built%20in%20functions%20in%20python.ipynb#list-append()-,insert(),extend()

SyntaxError: invalid syntax (<ipython-input-73-830455de3271>, line 1)

# list append() ,insert(),extend()

In [74]:
l=[1,2,3]
# list.append(item)
l.append(4)
l

[1, 2, 3, 4]

In [75]:

l.append(2,3)

TypeError: append() takes exactly one argument (2 given)

In [76]:
l1=[4,5]
l.append(l1)
l

[1, 2, 3, 4, [4, 5]]

In [77]:
l2=[]
for i in range(1,11):
    l2.append(i)
    
    
l2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [78]:
l=[1,2,3]

In [79]:
# list.insert(index,item)
l.insert(1,6)
l

[1, 6, 2, 3]

In [80]:
t=(1,2,3)
l.insert(3,t)
l

[1, 6, 2, (1, 2, 3), 3]

In [81]:
l1=[1,2,3]

In [82]:
l2=[4,5,6]
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 6]

# clear() , copy(), count(),index()

In [83]:
l=[1,2,3]
l.clear()
l

[]

In [84]:
l1=[]
l=[1,2]
l1=l.copy()
l1

[1, 2]

In [85]:
l=[1,2,3,3,3,'hi']
l.count('hi')

1

In [86]:
l.index(3)

2


# pop(),reverse(),remove(),sort()

In [87]:
l=[1,2,3]
l.pop(1)

l

[1, 3]

In [88]:

l.reverse()
l

[3, 1]

In [89]:
l=[1,2,3,5,'hi',3,4,3]
l.remove('hi')
l

[1, 2, 3, 5, 3, 4, 3]

In [90]:
list1=['hello','mi','manish']

In [91]:
list1.sort(reverse=False)
list1

['hello', 'manish', 'mi']

# lambda and map() function

In [32]:
def add(x,y):
    if x>y:
        return x+y
    else:
        return 0
add(2,3)

0

In [31]:

add=lambda x,y:  x+y if x>y else 0
add(4,3)

7

In [34]:
x=[1,2,3]
def squre(x):
    return x**2
list(map(squre,x))

[1, 4, 9]

In [35]:
list(map(lambda x:x**2,x))

[1, 4, 9]